<div class="question-test-group">
	<div class="container">
	  <div class="row">
	  	<div class="col-12">
	  		<table>
	  			<% @question.scores.each do |score| %>
	  		  <tr>
	  		  	<th><p>あなたの答え:<%= score.testanswer %></p></th>
	  		  </tr>
	  		  <tr>
	  		  	<th><p>解答:<%= score.section.answer %></p><th>
	  		  </tr>
	  		  <tr>
	  		  	<th><p>得点:<%= score.point %></p></th>
	  		  </tr>
	  		    <% end %>
	  		</table>
	  		 <%= link_to "home",user_path(current_user),class: "btn btn-default" %>
	  	</div>
	  </div>
	</div>
</div>