<div class="score-group">
	<div class="container">
	  <div class="row">
	  	<div class="score-box">
	  		<% @sections.each do |section| %>
	  		<%= section.question_sentence %><br>
	  		<% section.choices.each do |choice| %>
	  		<label><input type="radio" name="fruit" value="orange"><%= choice.select %></label><br>
             final answer?<br>
	  		<% end %>
	  		<% end %>
	  		<%= link_to "結果を見る", scores_path,class: "btn btn-default" %>
	  	</div>
	  </div>
	</div>
</div>

