<div class="question-info">
	<div class="container">
		<div class="row">
			<div class="question-info-box">
			　<h1>Exposition</h1>
			  <h2 class="info-h2">ボタンを押すとクイズが始まります。</h2>
			  <p class="info-messeage">・全10問で1問ずつ出題されます。</p>
			  <p class="info-messeage-2">・正解だと思う選択肢にチェックして下さい。</p>
			  <p class="info-messeage-4">・制限時間は10秒です。未チェックの場合も不正解になります。</p>
			  <p class="info-messeage-3">・1問10点の100点満点です!!満点目指して頑張ろう!!</p>
			  <%= link_to "Are You Ready？", new_question_path,class: "btn btn-default" %>　
			</div>
		</div>
	</div>
</div>