<div class="top-page-1">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="top_form">
					<h1>ようこそ！！ <strong></strong> </h1>

					<p> このサイトは全ての人の英語力の向上をサポートします。<br><br><br>
						毎日の問題投稿を通じて多くの英語ワードに触れよう。<br><br>
					</p>
					<%= link_to "ログイン",user_session_path,class:"sign_in btn btn-sign-up" %><br><br>
					<%= link_to "アカウントを持ってない方はこちら",new_user_registration_path,class:"sign_up btn btn-sign-in" %>
				</div>
			</div>
		</div>
	</div>
</div>