/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*ブートストラップ 用*/
 @import "bootstrap-sprockets";
 @import "bootstrap";

 .top-page-1{
 	height:100%;
    width:100%;
    background: #f0ffff;
 }
 .top_form {
 	text-align: center;
    padding-top: 100px;
    height: 600px;
    width:100%;
    color : #00608d;
 }

 .new-form {
 	padding-bottom: 50px;
 }

 header {
 	width: 100%;
 	height: 100%;
 	padding: 5px 0;
 	background: #fff;
 	/*border-bottom: solid 1px #777;*/
 }
.head-left {
    list-style: none;
    float: right;
    margin: 0 auto;
}

 .nav-list {
 	float: left;
 	list-style: none;
 	padding: 10px;
 }

 .nav-right {
 	float: right;
 	margin-right:30%;
 }

 .btn-sign-up {
    background:orange;
    color: #fff;
    width: 250px;
    font-size: 16px;
 }

 .btn-sign-in{
    background: #ff577b;;
    color:#fff;
 }

 footer {
 	background: #fff;
 	width: 100%;
 	height: 100%;
 }

.footer-infomation {
	list-style: none;
	float: left;
	padding-top:30px;
}

.info-list {
	color: #4169e1;
}
 .link_form {
 	text-decoration: none;
 }

 .field {
 	border-radius: 8px;
    color : #00608d;
    font-size:16px;
 }

.title_box {
	background-color:#4169e1;
	width: 80px;
	height:40px;
}

.user_introduce {
	background-color: snow;
}

.btn-default {
    color: #fff;
    background-color: #45ceda;
    border-color: #f8f8fe;
}

th {
	padding-right: 13px;
	padding-left: 13px;
}
.sign-up-group {
    width: 100%;
    height: 750px;
    background: #f9fbfe;
    padding: 20px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.15);
}

.new-form {
     box-shadow: 0 10px 10px rgba(0,0,0,0.15);
     background-color: #f0ffff;
     height: 600px;
     margin: 4%;
     padding-top: 15px;
     text-align: center;
}

.sign-up-box {
     height: 600px;
     margin: 4%;
     padding-top: 15px;
     text-align: center;
}
