<!DOCTYPE html>
<html>
  <head>
  	<title>Cards</title>
  	<%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'ajax','data-turbolinks-track':'relord' %>
    <%= javascript_include_tag 'application','data-turbolinks-track':'relord'%>
  </head>
  <body>
  	<div class="card">
  		<%= yield %>
  	</div>
  </body>
</html>